<div class="container">
  <div class="row">
    <div class="col">
      <h3>Candidates</h3>
    </div>
  </div>
  <div class="row" *ngIf="candidate">
    <div class="col">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Ad-Soyad</th>
          <th scope="col">Telefon</th>
          <th scope="col">Email</th>
          <th scope="col">Website</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{candidate.name}}</td>
          <td>{{candidate.phone}}</td>
          <td>{{candidate.email}}</td>
          <td>{{candidate.website}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
